@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	scrollbar-width: none;
	-ms-overflow-style: none;
}

body::-webkit-scrollbar {
	width: 0.1rem;
	display: none;
}

.custom-shadow {
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Adjust as needed */
}

@layer base {
	body {
		@apply dark:bg-gray-800 bg-white;
	}
}

.dark-mode-checkbox {
	transition: all 0.3s ease-in-out;
}
.dark-mode-checkbox:checked {
	transform: translateX(100%);
	border-color: #00385f;
}
.dark-mode-checkbox:checked + label {
	background-color: #00385f;
}
.dark-mode-label {
	transition: background-color 0.3s ease-in-out;
}
